cloudpickle==3.1.2
contourpy==1.4.0
cycler==0.12.1
fonttools==4.66.1
joblib==1.6.0
kiwisolver==1.5.1
matplotlib==3.11.2
munkres==1.1.4
narwhals==2.27.0
numpy==2.5.3
packaging==26.3
pandas==3.0.6
pillow==12.3.0
pip==26.2.1
pyparsing==3.3.3
PySide6==6.11.2
python-dateutil==2.9.0.post0
scikit-learn==1.9.1
scipy==1.18.1
shiboken6==6.11.2
six==1.17.0
threadpoolctl==3.7.0
tornado==6.5.10
tzdata==2026.5
